.section__start {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 80px;
}

.section__start--content {
  align-items: center;
  background-color: #03030ed0;
  border: 2px solid #5959ba;
  border-radius: 4px;
  box-shadow: 10px 10px 8px black;
  display: flex;
  flex-direction: column;
  outline: 8px solid #282828;
  overflow: hidden;
  padding: 4px;
  row-gap: 12px;
  transition: all 0.5s;
  width: 300px;
}

.section__start--content:hover {
  transform: scale(1.1);
}


.section__start img {
  margin-bottom: 10px;
  margin-top: -15px;
  pointer-events: none;
  width: 350px;
}

.welcome {
  line-height: 2;
  text-align: center;
}

.welcome h3 {
  font-size: bold;
  margin: 8px;
}

.welcome p {
  font-weight: 100;
}
