.card-back {
  align-items: center;
  background: #f3f3f3;
  border-radius: 9px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 80%;
  justify-content: center;
  max-width: 340px;
  padding: 5px;
  width: 70%;
}

.card-container {
  background: #036b52;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 95%;
  padding: 10px;
  width: 95%;
}

.name-card {
  align-items: center;
  background: #023031;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  height: 100px;
  justify-content: flex-end;
}

.image-card {
  background-color: #f3f3f3;
  height: 90%;
}

.name-card p {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 90%;
}

.description-card {
  background-color: #036b52;
  color: white;
  height: 100px;
  margin-left: 2px;
  position: relative;
  top: -15px;
  transform: rotate(-5.92deg);
  width: 101%;
  word-wrap: break-word;
}

.attr-card-container {
  align-items: center;
  background: #f3f3f3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attr-p {
  display: flex;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-top: 10px;
}

.attr-p span {
  align-items: center;
  background: #023031;
  border-radius: 0 10px 10px 0;
  color: #f3f3f3;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 30px;
}

.trunfo-card {
  color: #036b52;
  font-weight: 900;
  margin-left: 10px;
}
