.form-container {
  align-items: flex-start;
  color: #3d495c;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 85%;
  justify-content: center;
  margin-left: 50px;
  width: 100%;
}

.input-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}

.cardAttr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.cardAttr label {
  margin-right: 10px;
}

.submit-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.submit-container button {
  background: #2fc18c;
  border: none;
  border-radius: 2px;
  height: 2.5rem;
  width: 6rem;
}

.submit-container button:disabled {
  background-color: #52575f;
}

.submit-container label input {
  margin-left: 10px;
}
